@keyframes slide-left {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
